/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&display=swap');


body {
    font-family: "Edu TAS Beginner", cursive;
}


/* #region Header */

header {
    background-image: url(/assets/img/wall.png);
    background-size: cover;
    background-position: center;

}

#header_title {
    font-size: 100px;
}

/* Mobile */
@media (max-width: 767px) {
    #header_title {
        font-size: 70px;
    }
}

/* #endregion Header */


/* #region Main */
main {
    background-image: url(/assets/img/cork.png);
}


.card {
    padding: 10px;
    background-color: white;


    .card-img-top {
        border: 8px solid white;
    }

    .pin {
        position: absolute;
        top: -15px;
        left: 50%;
        transform: translateX(-50%);
        width: 40px;
        z-index: 10;
    }
}

/* #endregion Main */